[flake8]

ignore =
    # defaults flake8 ignores
    E121,E123,E126,E226,E24,E704,W503,W504

# imported but unused in __init__.py, that's ok.
per-file-ignores = **/__init__.py:F401

max-line-length = 85
