absl-py==0.2.2
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
bleach==1.5.0
coverage==4.5.1
gast==0.2.0
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==2.6.11
more-itertools==4.2.0
numpy==1.14.5
Pillow==5.1.0
pluggy==0.6.0
protobuf==3.6.0
py==1.5.4
pydot==1.2.4
pyparsing==2.2.0
pytest==3.6.2
pytest-cov==2.5.1
PyYAML==4.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.14.1
