mkdocs
mkdocs-material
pygments
jupyter
pymdown-extensions
Sphinx
markdown
black
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability