name: Publish to PyPI

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://github.com/gabrieldemarmiesse/typed_api.git@0.1.1
        pip install -e .[tests] --progress-bar off
        pip install tensorflow
        pip install twine
    - name: Lint
      run: |
        flake8
        isort -sl -rc -c
    - name: Test with pytest
      run: |
        pip install pytest
        pytest --cov=autokeras --cov-report xml:coverage.xml
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*

