name: Tests

on: [push, pull_request]
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -e .[tests] --progress-bar off
        pip install tf-nightly
    - name: Lint
      run: |
        flake8
        isort -sl -rc -c
    - name: Test with pytest
      run: |
        pytest --cov=autokeras --cov-report xml:coverage.xml
    - name: Codecov
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} #required
        file: ./coverage.xml #optional
  build-docs:
    name: Build the docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -e .
          pip install tf-nightly
          pip install -r docs/requirements.txt
      - name: Build the docs
        run: |
          cd docs
          python autogen.py
          mkdocs build
