name: Tests

on: [push, pull_request]
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[tests] --progress-bar off
        pip install tf-nightly==2.2.0.dev20200208
    - name: Lint
      run: |
        flake8
        isort -sl -rc -c
    - name: Test with pytest
      run: |
        pytest --cov=autokeras --cov-report xml:coverage.xml
    - name: Codecov
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} #required
        file: ./coverage.xml #optional
